@{
    ViewBag.Title = "Calender";
    ViewBag.View = "Calender";
}

<link href="~/lib/calender/css/calender.min.css" rel="stylesheet" />

<div id='calendar'></div>

@section Scripts
{
<script src="~/lib/calender/js/calender.min.js"></script>
<script>
    $(document).ready(function () {

        var eventArray = [];

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetEvents", "Events")',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
        }).done(function (response) {
            if (response.status != "4") {

                for (var i = 0; i < response.eventList.length; i++) {

                    eventArray.push({
                        title: response.eventList[i]['EventName'],
                        start: response.eventList[i]['StringStartDate'],
                        end:   response.eventList[i]['StringEndDate']
                    });
                }
                GenerateCalender(eventArray);
            }
            else {
               toastr.error('An error has occured !');
            }
        }).fail(function (response) {
                toastr.error('An unknown error has occured, Please contact administrator !');
        });

        function GenerateCalender(eventLists) {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                    scrollTime: '00:00',
                    editable: false,
                    selectable: false,
                    aspectRatio: 1.8,
                    headerToolbar: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'timeGridWeek,dayGridMonth,listWeek'
                    },
                    events: eventLists
                });

            calendar.render();
            }
    });

</script>
}