@model LectureRoomMgt.Models.Reservation.Faculty 
<div class="moda fade" id="addFaculty">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addFacultyLable">Add Faculty</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">

                </form>
            </div>
        </div>
    </div>   
</div>