@model LectureRoomMgt.Models.ViewModels.UserViewModel

<form id="forgotPw">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="text-align:center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" checked="checked" value="E">
                    <label class="form-check-label" for="inlineRadio1">Request reset token</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="R">
                    <label class="form-check-label" for="inlineRadio2">Reset Password</label>
                </div>
            </div>


            <div class="resetSection" style="display:none">
                <span asp-validation-for="ResetToken" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="ResetToken" class="form-control" placeholder="Reset token" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>

            </div>
                <span asp-validation-for="MUsername" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="MUsername" class="form-control" placeholder="Username" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
            <div  class="resetSection" style="display:none">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                </div>

                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="requestSection">
                <span asp-validation-for="PEmail" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="PEmail" class="form-control" placeholder="Enter your email address" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
   $("#inlineRadio1").change(function () {
       $('.resetSection').hide();
       $('#requestSection').show();
   });
   $("#inlineRadio2").change(function () {
       $('#requestSection').hide();
       $('.resetSection').show();
   });
</script>





