@model LectureRoomMgt.Models.Lecturers.LecturerFaculty;
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<div class="row">
    <div class="col-6 offset-3">
        <form id="saveForm9">
            <div class="form-row">
                <div class="form-group col-8 mb-3">
                    <label asp-for="Faculty.FacultyName" class="control-label"></label>
                    <input asp-for="Faculty.FacultyName" class="form-control" />
                    <span asp-validation-for="Faculty.FacultyName" class="text-danger"></span>
                </div>
                <div class="form-group col-4 mb-3 mt-4">
                    <div class="mt-2">
                        <button id="btnSave9" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Save !"><i class="fa fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<form asp-action="InsertLecFaculty" asp-controller="LecturerFaculty">
    <label>Lecturer</label><br />
    <select class="selectpicker" data-live-search="true" asp-items="ViewBag.Lecturers as SelectList"
            asp-for="LecturerId"> </select>
    <br>
    <label>Faculty/ Faculties</label><br />
    <select class="selectpicker" multiple data-live-search="true" asp-items="ViewBag.Faculties as SelectList"
            asp-for="FacultyIdList"> </select>
    <button>Insert</button>
</form>
